{% load static %}
<article class="carrinho__item">
    {% if item.foto %}
        <img class="carrinho__item__imagem" src="{{item.foto.url}}">
    {% else %}
        <img class="carrinho__item__imagem" src="{% static '/assets/not_found.svg' %}">
    {% endif %}
    <h3 class="carrinho__item__nome">{{item.nome}}</h3>
    <h4 class="carrinho__item__preco">R${{item.preco}}</h4>
    <div class="carrinho__item__botoes">
        <form class="carrinho__item__form" action="{% url 'carrinho' %}" method="post">
            {% csrf_token %}
            <input type="text" name="doce_id" style="display: none;" value="{{item.id}}">
            <input type="text" style="display: none;" name="tipo" value="adicionar">
            <button type="submit" class="carrinho__botao">
                <img class="carrinho__icone" src="{% static '/assets/add_to_cart.svg' %}" alt="Adicionar mais um ao carrinho"/>
            </button>
        </form>
        <form class="carrinho__item__form" action="{% url 'carrinho' %}" method="post">
            {% csrf_token %}
            <input type="text" name="doce_id" style="display: none;" value="{{item.id}}">
            <input type="text" style="display: none;" name="tipo" value="remover">
            <button type="submit" class="carrinho__botao">
                <img class="carrinho__icone" src="{% static '/assets/remove_from_cart.svg' %}" alt="Remover do carrinho"/>
            </button>
        </form>
    </div>
</article>