{% extends 'base.html' %}{% load static %} {% block content %}
    <section class="doces">
        <h2 class="doces__titulo">Doces em destaque</h2>
        <div class="doces__categorias">
            {% for categoria in categorias %}
                <a href="?categoria={{categoria}}" class="doces__categoria">{{categoria}}</a>
            {% endfor %}
        </div>
        {% include 'partials/_doces-lista.html' with doces=doces %}
    </section>
    <section class="doces">
        <h2 class="doces__titulo">Ótimas opções por menos de R$20,00</h2>
        {% include 'partials/_doces-lista.html' with doces=doces_baratos %}
    </section>
{% endblock %}